*{
    padding: 0px;
    margin: 0px;
    border: border-box;
/* header section */
body{
    background-color: #548687;
    text-align: center;
}
}.head{
    height: 50px;
    color: white;
    text-align: center;
}
.tit{
    padding-top: 15px;
}
/* main section */
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap:1vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border:none;
}
.win{
    color: #ffffc7;
}
#new{
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border:none;
}
.hide{
    display: none;
}
.bars{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
